.section {
  margin-bottom: 80px;

  & > * ~ * {
    margin-top: 40px;
  }

  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
  .banner {
    // max-width: 100%;
    width: 100%;
  }
}
